<div class="turo-select-wrapper">

  <!-- Option Trigger -->
  <div class="trigger border"
       [ngClass]="{ 'focused-trigger': isOpen }"
       (click)="toggle()">
    {{triggerText}}

    <!-- Trigger Icon (Open / Closed) -->
    <i class="material-icons" *ngIf="isOpen">
      keyboard_arrow_up
    </i>
    <i class="material-icons" *ngIf="!isOpen">
      keyboard_arrow_down
    </i>
  </div>

  <!-- Option Container -->
  <section class="option-container" *ngIf="isOpen">

    <!-- List of Options -->
    <div
      class="option"
      [ngClass]="{ 'selected-option': isSelected(option)}"
      *ngFor="let option of options"
      (click)="optionClicked(option)">

      <!-- Option Icon -->
      <div class="option-icon" *ngIf="option.icon">
        <i class="material-icons">
          {{option.icon}}
        </i>
      </div>

      <!-- Option Text -->
      <div class="option-text">
        {{option.displayText}}
      </div>

    </div>
  </section>
</div>

